  {% load static %}

 <header>
            <a href="/" class="logo"><span>H</span>N.</a>

            <ul class="navlist">
                <li><a href="/">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#portfolio">Products</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="/create">Order</a></li>
                <li><a href="/orders">Admin</a></li>
            </ul>
            <div class="bx bx-menu" id="menu-icon"></div>
        </header>
